body {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: lightcyan;
}

header section {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header img {
    height: 100px;
}


#profile-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#profile-display img {
    height: 60px;
    margin-right: 15px;
}

#profile-display button {
    margin: 0px 15px;
    box-shadow: none;
    border: solid;
    padding: 5px 7px;
    background: coral;
    font-size: 12px;
}

#candidates-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#candidates-list li {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-bottom: -1px;
    color: black;
}

#candidates-list li:nth-child(odd) {
    background-color: coral;
}

#candidates-list li:nth-child(even) {
    background-color: #f78ca4;
}

#candidates-list button {
    width: 200px;
    font-size: 90px;
    color: coral;
    background-color: white;
    border: none;
}

#candidates-list button:hover {
    background-color: #f78ca4;
    color: white;
    cursor: pointer;
}

.candidate-detail {
    width: 200px;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.candidate-detail h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 28px;
    line-height: .3;
    text-transform: uppercase;
}

.candidate-detail img {
    width: 100%;
}

#results a {
    color: coral;
}

#results a:hover {
    color: #f78ca4;
}
