#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: white;
    background-color: #f78ca4;
    padding-left: 15px;
}

#header h1 {
    font-size: 36px;
    text-transform: uppercase;
}

#profile-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#profile-display img {
    height: 50px;
    margin-right: 15px;
    border: solid;
}

#profile-display button {
    margin: 0px 15px;
    box-shadow: none;
    border: solid;
    padding: 5px 7px;
    background: white;
    font-size: 12px;
    text-transform: uppercase;
}

#subhead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fea579;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 40px;
}

#subhead a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
}

main {
    background-color: #fea579;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
    color: #f78ca4;
    padding: 5px 35px;
}

#hero h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    margin-right: 30px;
    /* flex-grow: 1; */
}

#hero h2 {
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

#body-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 25px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    height: 100vh;
}

#left {
    width: 60%;
    margin-right: 15px;
    border-right: 2px solid white;
}

#right {
    padding-left: 10px;
    width: 300px;
}

#right a {
    color: black;
    margin: 0px 15px;
    box-shadow: none;
    border: solid black;
    padding: 10px 15px;
    background: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

#track-section {
    display: flex;
    background: white;
    padding: 10px 25px;
    padding-right: 65px;
}



#intro, #results {
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
    font-size: 18px;
    color: rgb(63, 63, 63);
}

#intro button {
    color: black;
    margin: 10px 15px;
    box-shadow: none;
    border: solid black;
    padding: 10px 15px;
    background: #fea579;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

#results-section {
    padding-left: 35px;
}

#results-section h2 {
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
    font-size: 36px;
    color: rgb(91, 91, 91);
}

footer {
    background: #f78ca4;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 25px;
}


/*candidate detail page styling*/

#details {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

#photo-name {
    padding-top: 15px;
}

#photo-name img {
    margin: 15px;
    margin-right: 35px;
    float: left;
    margin-bottom: 100vh;
}

#photo-name h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    flex-grow: 1;
    color: #f78ca4
}

#photo-name a {
    font-family: 'Kanit', sans-serif;
    background-color: coral;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#news-intro {
    font-family: 'Kanit', sans-serif;
    font-size: 28px;
    flex-grow: 1;
    color: #f78ca4
}

#candidate-news li {
    padding: 0px 15px;
    margin: 10px 0px;
    list-style: none;
}

#candidate-news li img {
    float: left;
    margin: 5px 20px 30px;
    width: 75px;
    height: 75px;
}

/*account page styles */

#saved-area {
    display: flex;
    margin: 30px 25px;
}

#candidates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    border: 1px solid black;
    margin-right: 15px;
    padding: 10px 30px 10px 0px;
}

#candidates-list li {
    width: 80%;
    padding: 3px;
}

#account-intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
}

#account-intro h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    flex-grow: 1;
    color: white;
    flex-grow: 0;
    margin-right: 25px;
}

#account-intro a {
    font-family: 'Kanit', sans-serif;
    background-color: coral;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
}