#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: white;
    background-color: #f78ca4;
    padding-left: 15px;
}

#header h1 {
    font-size: 36px;
    text-transform: uppercase;
}

#profile-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#profile-display img {
    height: 50px;
    margin-right: 15px;
    border: solid;
}

#profile-display button {
    margin: 0px 15px;
    box-shadow: none;
    border: solid;
    padding: 5px 7px;
    background: white;
    font-size: 12px;
    text-transform: uppercase;
}

#subhead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fea579;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 40px;
}

#subhead a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: white;
    color: #f78ca4;
    padding: 5px 35px;
}

#hero h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    margin-right: 30px;
    /* flex-grow: 1; */
}

#hero h2 {
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
